<ion-header class="bar bar-header bar-positive">
  <ion-navbar>
    <ion-title>SPARKR</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-fab top right >
    <button ion-fab (click)="addTeamClicked()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <h2>TeamList</h2>
  <ion-list *ngIf="teams">
    <ion-item *ngFor="let team of teams"
            (click)="onTeamDetailClicked(team)"
            [class.selected]="team === selectedTeam">
        <ion-row>
          <!--
          <ion-col col-3>
            <ion-avatar item-start>
              <img src="{{ team.thumbnail }}">
            </ion-avatar>
          </ion-col>
          -->
          <ion-col col-10>
            <ion-row>
              {{ team.name }}
            </ion-row>
            <ion-row>
              <p>{{ team.description }}</p>
            </ion-row>
          </ion-col>
          <ion-col col-2>
            <button>
              <ion-icon name='arrow-dropright-outline'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-item>
  </ion-list>
</ion-content>