<div *ngIf="profile">
  <form>
    <ion-grid>
      <!-- see ./theme/variables.css 
        // ProfileDetail margins override -->
      <ion-row>
        <ion-col text-left col-5>
          <!-- NB "ion-img"-tag does not load on first load after login, "img"-tag does -->
          <img width="110" height="110" src="{{ profile.thumbnail }}">
        </ion-col>
        <ion-col col-7>
          <ion-row>
            <ion-label for="id" stacked>Id</ion-label>
            <ion-input type="text" name="id" [(ngModel)]="profile.id" [disabled]="true"></ion-input>
          </ion-row>
          <ion-row>
            <ion-label for="username" stacked>Username</ion-label>  
            <ion-input type="text" name="username" [(ngModel)]="profile.username" [disabled]="!edit"></ion-input>
          </ion-row>
          <ion-row>
              <ion-label for="role" stacked>Role</ion-label>  
              <ion-input type="text" name="role" [(ngModel)]="profile.role" [disabled]="!edit"></ion-input>
          </ion-row>
          <ion-row>
            <ion-label for="college" stacked>College</ion-label>  
            <ion-input type="text" name="college" [(ngModel)]="profile.college" [disabled]="!edit"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 class="item middle-buttons" >
              <button class="item button-styled" ion-button block outline>
                  <ion-icon name="add-circle" style="padding-right: 8px" (click)="inviteClicked()"></ion-icon>
                  Invite
              </button>
        </ion-col>
        <ion-col col-6 class="item middle-buttons " >
            <button class="item profilestatusbar-right" ion-button block outline ></button>
        </ion-col>
      </ion-row>

      <!-- TODO clean up below -->
      <ion-row>
        <ion-col col-11>
          <div style="color: #969FAA !important; padding-bottom: 10px">TEAM</div>
          <div style="font-weight: bold !important; font-size: 16px; padding-bottom: 10px">
            TBD profile.team.name
          </div>
          <div>
            TBD profile.team
          </div>
        </ion-col>
        <ion-col col-1>
          <ion-icon name="arrow-dropright" style="padding-top: 55px"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 30px">
        <ion-col col-11>
          <div style="color: #969FAA !important; padding-bottom: 10px">CONNECTIONS</div>
          <div>
            TBD profile.team.members
          </div>
        </ion-col>
        <ion-col col-1>
          <ion-icon name="arrow-dropright" style="margin-top: 25px"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 30px">
        <ion-col col-12>
          <div padding>
            <button ion-button color="primary" (click)="onClicked(!edit)">{{edit? "save" : "edit"}}</button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</div>
