<div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label for="id" stacked>id</ion-label>
        <ion-input type="text" name="id" [(ngModel)]="object2.id" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="name" stacked>name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="object2.name" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="property1" stacked>property1</ion-label>
        <ion-input type="text" name="property1" [(ngModel)]="object2.property1" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="property2" stacked>property2</ion-label>
        <ion-input type="text" name="property2" [(ngModel)]="object2.property2" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="property3" stacked>property3</ion-label>
        <ion-input type="text" name="property3" [(ngModel)]="object2.property3" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="date_created" stacked>date_created</ion-label>
        <ion-input type="text" name="date_created" [(ngModel)]="object2.date_created" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="startdate" stacked>startdate</ion-label>
        <ion-input type="text" name="startdate" [(ngModel)]="object2.startdate" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="enddate" stacked>enddate</ion-label>
        <ion-input type="text" name="enddate" [(ngModel)]="object2.enddate" [disabled]="!edit"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" (click)="onClicked(!edit)">{{edit? "save" : "edit"}}</button>
    </div>
  </form>
</div>
