<ion-header class="bar bar-header bar-positive">
  <ion-navbar>
    <ion-title>SPARKR</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>MemberDetail</h2>
  <!--
  <member-detail-form [team]="teamForMember" [member]="selectedMember"></member-detail-form> 
  -->
  <div *ngIf="member!=null">
      <form>
        <ion-grid>
          <!-- see ./theme/variables.css 
            // MemberDetail margins override -->
          <ion-row>
            <ion-col text-left col-4>
              <ion-row>
                <!-- NB "ion-img"-tag does not load on first load after login, "img"-tag does -->
                <img width="110" height="110" src="{{ member.thumbnail }}">
              </ion-row>
              <ion-row>
                <button ion-button color="primary" (click)="onSaveEditButtonClicked(!edit)">{{edit? "save" : "edit"}}</button>
              </ion-row>
            </ion-col>
            <ion-col col-8>
              <!--
              <ion-row>
                <ion-label for="id" stacked>Id</ion-label>
                <ion-input type="text" name="id" [(ngModel)]="member.id" [disabled]="true"></ion-input>
              </ion-row>
              -->
              <ion-row>
                <ion-label for="name" stacked>Username</ion-label>  
                <ion-input type="text" name="username" [(ngModel)]="member.username" [disabled]="true"></ion-input>
              </ion-row>

              <!-- TODO Note: for some reason, when placing Role below other editable fields, makes role popup 
                whenever you click any other editable input field -->
              <ion-row>
                <ion-label>Role</ion-label>
                <!--<ion-input *ngIf="!edit" type="text" name="role" [(ngModel)]="member.role" [disabled]="true"></ion-input>-->
                <ion-select placeholder="Select..." [(ngModel)]="member.role" name="role" [disabled]="!edit">
                  <ion-option *ngFor="let roleOption of roleOptions" [value]="roleOption" [selected]="roleOption==member.role">{{roleOption}}</ion-option>
                </ion-select>
              </ion-row>

              <ion-row>
                <ion-label for="name" stacked>Name</ion-label>  
                <ion-input type="text" name="name" [(ngModel)]="member.name" [disabled]="!edit"></ion-input>
              </ion-row>
              <ion-row>
                <ion-label for="college" stacked>College</ion-label>  
                <ion-input type="text" name="college" [(ngModel)]="member.college" [disabled]="!edit"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col col-6 class="item middle-buttons" >
              <button *ngIf="canInvite" class="item button-styled" ion-button block outline (click)="inviteClicked()">
                  <ion-icon name="add-circle" style="padding-right: 8px" ></ion-icon>
                  Invite
              </button>
            </ion-col>
            <ion-col col-6 class="item middle-buttons">
                
            </ion-col>
          </ion-row>
    
          <!-- for now when no team enable find/create team -->
          <!-- this allows to send multiple join requests, once the first team accepts, other requests are lost -->
          <div *ngIf="team==null">
            <ion-row>
              <ion-col col-6 class="item middle-buttons" >
                <button class="item button-styled" ion-button block outline (click)="onFindTeamButtonClicked()">
                    <ion-icon style="padding-right: 8px"></ion-icon>
                    Find Team
                </button>
              </ion-col>
              <ion-col col-6 class="item middle-buttons">
                <button class="item button-styled" ion-button block outline (click)="onCreateTeamButtonClicked()">
                    <ion-icon style="padding-right: 8px" ></ion-icon>
                    Create Team
                </button>
              </ion-col>
            </ion-row>
          </div>

          <!-- for now once you have a team disable pending requests -->
          <div *ngIf="team==null && (requests!=null && requests.length>0)">
            <ion-item>
              <ion-label for="requests" stacked>Pending Requests</ion-label>   
            </ion-item>
            <ion-item> 
              <ion-row *ngFor="let r of requests"
                 [(ngModel)]="requests" name="requests" ngDefaultControl>             
                <ion-col>
                  <ion-row><h3>{{ r.requestStatus }} {{ r.requestType }} request for {{ r.team.name }}</h3></ion-row>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>

          <div *ngIf="team!=null">

            <div>
              <ion-row>
                MY TEAM INFO
              </ion-row>
              <ion-row (click)="onTeamDetailSelect(team)">
                <ion-col col-11>
                  <ion-row>
                    <ion-input type="text" name="teamname" [(ngModel)]="team.name" [disabled]="!edit"></ion-input>
                  </ion-row>
                  <ion-row>                    
                    <ion-textarea type="text" name="teamdescription" [(ngModel)]="team.description" [disabled]="!edit"></ion-textarea>
                  </ion-row>
                </ion-col>
                <ion-col col-1>
                  <ion-icon name="arrow-dropright-circle"></ion-icon>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="teamMates.length!=0">
              <ion-row>
                <ion-col col-10>
                  TEAMMATES
                </ion-col>
                <ion-col col-2>
                  <button (click)="addTeamClicked()">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-list>
                <ion-item *ngFor="let tm of teamMates"
                    (click)="onTeamMateSelect(tm)">
                  <ion-row>
                      <ion-col col-11>
                          <p>{{ tm.username }}</p>
                      </ion-col>
                    <ion-col col-1>
                        <ion-icon name="trash" (click)="removeTeamMateClicked(tm)"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list> 
            </div>

            <div *ngIf="inviterequests!=null && inviterequests.length>0">
              <ion-row>
                <ion-col>
                  <ion-row>PENDING REQUESTS</ion-row>
                </ion-col>
              </ion-row>
              <ion-list>
                <ion-item *ngFor="let r of inviterequests"
                        (click)="onTeamDetailSelect(team)">
                  <ion-row>
                    <ion-col col-11>
                      <p>{{ r.requestStatus }} {{ r.requestType }} request by {{r.member.username}}</p>
                      <p>waiting for {{ (r.requestType=="invite") ? r.member.username: ""}} {{ (r.requestType=="join") ? "teamOwner" : "" }} to accept</p>
                    </ion-col>
                    <ion-col col-1>
                      <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>               
              </ion-list> 
            </div>
          </div>

        </ion-grid>
      </form>
    </div>
  
</ion-content>