page-profile-detail {
  .middle-buttons {
    padding: 0px !important;
    margin: 0px !important;
  }
  .button-styled {
    border-radius: 0px !important;
    border-right: none;
    color: #969FAA !important;
    border-color: #969FAA !important;
    font-size: 14px !important;
  }
  .left-button {
    border-left: none;
  }
}
