<div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label for="id" stacked>id</ion-label>
        <ion-input type="text" name="id" [(ngModel)]="project.id" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="title" stacked>title</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="project.title" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="description" stacked>description</ion-label>
        <ion-input type="text" name="description" [(ngModel)]="project.description" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="url" stacked>url</ion-label>
        <ion-input type="text" name="url" [(ngModel)]="project.url" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="prototype" stacked>prototype</ion-label>
        <ion-input type="text" name="prototype" [(ngModel)]="project.prototype" [disabled]="!edit"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" (click)="onClicked(!edit)">{{edit? "save" : "edit"}}</button>
    </div>
  </form>
</div>