<div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label for="id" stacked>id</ion-label>
        <ion-input type="text" name="id" [(ngModel)]="team.id" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="name" stacked>name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="team.name" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="description" stacked>description</ion-label>
        <ion-input type="text" name="description" [(ngModel)]="team.description" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="members" stacked>members</ion-label>
        <ion-input type="text" name="members" [(ngModel)]="team.names" [disabled]="true"></ion-input>
        <button ion-button icon-only clear item-right (click)="addMemberClicked(team.id)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" (click)="onClicked(!edit)">{{edit? "save" : "edit"}}</button>
    </div>
  </form>
</div>
